<h1>Employees</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>DOB</th>
    <th>Department</th>
    <th>Job Title</th>
    <th>Manager</th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| -%>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.name %></td>
      <td><%= employee.dob %></td>
      <td><%= employee.department.name %></td>
      <td><%= employee.job_title.name %></td>
      <td>
        <% if employee.manager %>
          <%= employee.manager.name  %>
        <% end %>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>

<%= link_to "New", new_employee_path, :class => 'btn btn-primary' %>
