<% if @departments %>
<h1>Department expense</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>Department Name</th>
    <th>Year</th>
    <th>Total Amount</th>
  </tr>
  </thead>
  <tbody>
  <% @departments.each do |dept| -%>
  <tr>
    <td><%= dept.dept_name%></td>
    <td><%= dept.date%></td>
    <td><%= dept.tot_amount %></td>
  </tr>
  <% end %>

  </tbody>
</table>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Expense Type Name');
          data.addColumn('number', 'Amount');
         <% @departments.each do |dept| %>
            data.addRows([["<%= dept.date%>,<%= dept.dept_name%>" ,<%= dept.tot_amount %>]])  ;
         <% end %>
          var options = {
          title: 'Department Yearly Expense',
          xAxis: {title: 'Year and Department Names',  titleTextStyle: {color: 'red'}}
          };
          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
      </script>



       <div id="chart_div" style="width: 1000px; height: 500px;"></div>
<% end %>